{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png?v=2">
<link rel="manifest" href="/assets/icons/site.webmanifest?v=2">
<link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg?v=2" color="#2b5797">
<link rel="shortcut icon" href="/assets/icons/favicon.ico?v=2">
<meta name="apple-mobile-web-app-title" content="Gabriel Ewig's Portfolio">
<meta name="application-name" content="Gabriel Ewig's Portfolio">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/assets/icons/browserconfig.xml?v=2">
<meta name="theme-color" content="#ffffff">